*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #F5F5F5;
    height: 70vh;
    width: 100%;
}
.container{
    width: 800px;
    background-color: #6468de41;
    margin: auto;
    margin-top: 50px;
    position: relative;
    box-shadow: 0 10px 10px rgba(107, 107, 107, 0.265);
}
.head{
    display: flex;
    width: 100%;
    position: relative;
    border-radius: 6px;
}
.head h1{
    margin-top: 0;
    background-color: #3f428d;
    width: 100%;
    text-align: center;
    padding:10px;
    color:white;
}
.page-header{
    color: #3F418D;
    font-size: 70px;
    margin-top: 1.2em;
    display: ruby-text;
}
.container .head #addButton{
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-top: 8px;
    margin-right: 8px;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    background-color: white;
    color: black;
}
#addButton:hover{
    transform: scale(1.1);
}
#addButtonTwo{
    position: absolute;
    right: 55px;
    top: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    background-color: white; ;
    color: black;
}
#addButtonTwo:hover{
    transform: scale(1.1);
}
#nameInput{
    position: absolute;
    top: 8px;
    right: 100px;
    width: 0;
    height: 40px;
    border-radius: 16px;
    border:none;
    transition: all 0.3s ease-in-out;
}
#nameInput.active{
    width:200px;
    padding: 10px;

}
.checked{
    text-decoration: line-through;
}
.done{
    background-color:rgba(0, 252, 13, 0.485)!important;
}
.change-icon{
    background: url('fa-x');
}
.fa-x{
    background-color: red!important;
}
.container input.active{
    width: 200px;
}
.container input::placeholder{
    padding: 10px;
}
.tasks{
    padding: 15px;
    padding-top: 0;
}
#myTask{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    position: relative;
    background-color: #fffbf4b5;
    margin: 5px;
    border-radius: 6px;
    transition: all 0.2s ease-in-out;
    margin-bottom: 10px;
}
#myTask:hover{
    box-shadow: 0 5px 15px rgba(76, 1, 162, 0.597);
    transform: scale(1.03);
}
.icons{
    display: flex;
    justify-content: space-between;
    width: 250px;
}
.deactivate{
    display: none;
}
.throwLine{
    text-decoration: line-through;
}
.myIcon{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(193, 192, 192);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}   
.date{
    position: absolute;
    left: 0px;
    padding: 8px 15px;
    font-size: 12px;
    color: gray;
    bottom: -6px;
}
#delete,#check,#edit{
    cursor: pointer;
    color: white;
}
#delete:hover,#check:hover,#edit:hover{
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}
#delete{
    background-color: red;
}
#check{
    background-color: darkgreen;
}
#edit{
    background-color: blue;

}